body {
    --table-color: #185225;

    background-color: var(--table-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: 16px 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 80%;
    background-color: var(--table-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.table {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
}

.table-decoration {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 160px;
    position: relative;
    background-color: #236e4b;
    border-radius: 10px;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    position: absolute;
}

.crupier {
    order: 1;
    top: 0;
}

.player-main {
    order: 2;
    bottom: 0;
}

.ai-player {
    order: 3;
    top: 50%;
    transform: translateY(-50%);
}

.ai-left {
    left: 0;
}

.ai-right {
    right: 0;
}

.hand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img {
    width: 80px;
    height: 120px;
    margin: 0 5px;
}

.player-info {
    display: flex;
    padding: 4px;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    color: white;
    top: 0;
}
