body {
    --background-color: #1d2720;
    --table-color: #2e683f;

    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font: 16px 'Roboto', sans-serif;
}

.container {
    width: 80%;
    height: 80%;
    background-color: var(--table-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border: 10px solid #4d4d4d;
}

.table {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
}

.table-decoration {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.player {
    flex-direction: column;
    width: 280px;
    height: 160px;
    position: relative;
    border-radius: 10px;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    position: absolute;
}

.crupier {
    order: 1;
    top: 0;
}

.player-main {
    order: 2;
    bottom: 0;
}

.ai-player {
    order: 3;
    top: 50%;
    transform: translateY(-50%);
}

.ai-left {
    left: 0;
}

.ai-right {
    right: 0;
}

.player-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    height: fit-content;
    width: 100%;
}

.card-container {
    display: flex;
    height: 100%;
    width: fit-content;
    margin-right: -50px;
}

.card-container:last-child {
    margin-right: 0;
}

.card-img {
    width: 80px;
    height: 120px;
}

.player-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 10px;
    
    color: white;
    background-color: #1f3826;
    box-shadow: -4px 4px 0px #50e67d;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
}
